[Desktop Entry]
Name=Visual Studio Code Insiders - URL Handler
Comment=Code Editing. Redefined.
GenericName=Text Editor
Exec=/opt/vscode-insiders/code-insiders --no-sandbox --disable-gpu-sandbox --open-url %U
Icon=vscode-insiders
Type=Application
NoDisplay=true
StartupNotify=true
Categories=Utility;TextEditor;Development;IDE;
MimeType=x-scheme-handler/vscode-insiders;
Keywords=vscode;
