[Desktop Entry]
Name=Visual Studio Code Insiders
Comment=Code Editing. Refined.
GenericName=Text Editor
Exec=/opt/vscode-insiders/code-insiders --no-sandbox --disable-gpu-sandbox --unity-launch %F
Icon=vscode-insiders
Type=Application
StartupNotify=false
StartupWMClass=code - insiders
Categories=Utility;TextEditor;Development;IDE;
MimeType=text/plain;inode/directory;
Actions=new-empty-window;
Keywords=code;vscode;vscode-insiders;

[Desktop Action new-empty-window]
Name=New Empty Window
Exec=/opt/vscode-insiders/code-insiders --no-sandbox --disable-gpu-sandbox --new-window %F
Icon=vscode-insiders
